.auralis-hidden {
  display: none !important;
  cursor: default !important;
}

.auralis-content-hidden {
  display: none !important;
  cursor: default !important;
}

.auralis-invisible {
  opacity: 0 !important;
  cursor: default !important;
}

.auralis-visible {
  opacity: 1 !important;
}



