
// Alte Scroll-To-Top - Buttons aus dem Content ausblenden
div.ilc_section_ScrollToTop {
  display:none;
}

// Alte Page-Position-Marker aus dem Content ausblenden
div.ilc_section_PagePositionMarker {
  display:none;
}

@media only screen and (max-width: 991px) {
  footer {
    margin-bottom: unset !important;
  }
}

@media only screen and (max-width: 991px) {
  .il-layout-page-content {
    min-height: calc(100vh - 48px) !important;
  }
}

