[class^="ilc_media_cont_Media"] {
  position: relative;

  .ilc_Mob {
    overflow: hidden;
    position: relative;

    .auralis-image-copyright {
      display: block;
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.8);
      color: #ffffff;
      font-size: 0.75rem;
      padding: 5px 10px 5px 32px;
      transform: translateX(calc(100% - 27px));
      border-top-left-radius: 12px;
      transition: transform 0.3s ease-out;
      cursor: default;

      &:hover {
        transform: translateX(0);
      }

      &:before {
        content: "©";
        position: absolute;
        font-size: 16px;
        left: 8px;
        top: 2px;
      }
    }
  }
}



