div.ilc_section_Parallax {
  position: relative;
  display: block;
  z-index: 1;
  width: calc(100% + var(--bs-gutter-x));
  margin: 0 calc(var(--bs-gutter-x) * -0.5);
  overflow: hidden;

  .auralis-parallax-image {
    display: block;
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto 120%;
    background-repeat: no-repeat;
    background-position: center 0%;
    background-attachment: fixed;
    z-index: -1;
  }

  .ilc_section_BlockWidth1290 {
    background-color: unset;
  }
}

#il_EditPage {
  div.ilc_section_Parallax:not(:has(.ilc_media_cont_MediaContainer)) {
    .dropdown {
      &.open {
        //ul > li:has(a:not(:has(:where(:is(:not(:empty)):where(:contains("Bild/Audio/Video einfügen")))))) {
        //  display: none;
        //}
      }
    }
  }

  div.ilc_section_Parallax {
    max-width: 100%;
    position: relative;
    display: block;
    z-index: 1;
    margin: 0 calc(var(--bs-gutter-x) * -0.5);
    //overflow: visible;

    .auralis-parallax-image {
      display: block;
      width: 100%;
      height: 120%;
      position: absolute;
      top: 0;
      left: 0;
      background-size: 120% 120%;
      background-repeat: no-repeat;
      background-position: center 0%;
      background-attachment: fixed;
      z-index: -1;
    }
  }
}
